pkgbase = iomemory-vsl-dkms
	pkgdesc = Updated FusionIO iodrive3 driver for recent kernels.
	pkgver = 5.10.0
	pkgrel = 1
	url = https://github.com/snuf/iomemory-vsl
	arch = any
	license = unknown
	makedepends = git
	depends = dkms
	conflicts = iomemory-vsl-git
	source = git+https://github.com/snuf/iomemory-vsl.git
	md5sums = SKIP

pkgname = iomemory-vsl-dkms
